@font-face {
    font-family:"FZWBJW";
    src:url("FZWBJW.woff?t=1541049700view") format("woff"), /* chrome, firefox */
    url("FZWBJW.ttf?t=1541049700view") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("FZWBJW.svg?t=1541049700view#FZWBJW") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}
/*
@font-face {
    font-family:"FZWBJW";
    src: url("FZWBJW.eot?t=1541049700view"); IE9
    font-style: normal;
    font-weight: normal;
} */
